@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



body {
    min-height: 100vh;
    background-color: black;
    color: white;
}

.cards {
    display: flex;
    height: 100vh;
    gap: 2px;
    overflow: hidden;
}


.card-1 {
    background: linear-gradient(rgba(151, 139, 139, .2), black), url(Image.png);

}

.card-2 {
    background: linear-gradient(rgba(151, 139, 139, .2), black), url(Image-1.png);
}

.card-3 {
    background: linear-gradient(rgba(151, 139, 139, .2), black), url(Image-2.png);
}

.card-4 {
    background: linear-gradient(rgba(151, 139, 139, .2), black), url(Image-3.png);
}

.card {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    flex: 1;
    gap: 16px;
    background-size: cover;
    background-position: center;
    transform: 3s;
}

.card:hover {
    transform: scale(105%);
    z-index: 1;
}

h3 {
    font-size: 38px;
    text-transform: uppercase;
    line-height: 38px;
}

h4 {
    font-size: 12px;
    text-transform: capitalize;
    opacity: 0.7;
    font-weight: normal;
}
